td {
	font-family: "Trebuchet MS", Arial, Veranda, sans-serif;
	padding: 3px;
}

#calback {
	background: #FFF url('calWaiting.gif') no-repeat 50% 100px;
	margin: 0 auto;
	width: 650px;
	opacity:0.9;
}

#calendar {
	width: 100%;
	height: 100%;
}

.cal {
	background: #666;
	width: 100%; 
	
}

.calhead {
	width: 100%;
	font-weight: bold;
	color: #FFF;
	font-size: 20px; 
	   
}

.calhead img {
	border: none;
}

.dayhead {
	height: 25px;
	background: #EEE;
	
}

.dayhead td {
	text-align: center;
	color: #666;
	
}

.dayrow {
	background: #666;
	height: 40px;
	opacity:.8;
	
}

.dayrow td {
	width: 50px;
	color: #fff;
	font-size: 1.0em;
}

.day {
	float: right;
}

.dayover {
	background: #f00;
	opacity:0.8;
}

.dayout {
	background: #000;
	opacity:0.8;
}
.ocupado
{
	background:#F00;
	width: 50px;
	height: 40px;
	opacity:0.8;
	float: right;
}
.desocupado
{
	
	width: 50px;
	height: 40px;
	opacity:0.8;
	float: right;
}